<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="test">
    <test name="autoTest.login">
        <classes>
            <class name="autoTest.TestExam"></class>
            <class name="autoTest.login"></class>
        </classes>

    </test>
    <test name="pay">
        <classes>
            <class name="autoTest.TestExam"></class>
            <class name="autoTest.payMoney"></class>
        </classes>

    </test>
</suite>