<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="test">
    <test name="login">
        <classes>
            <class name="TestExam"></class>
            <class name="login"></class>
        </classes>

    </test>
    <test name="pay">
        <classes>
            <class name="TestExam"></class>
            <class name="payMoney"></class>
        </classes>

    </test>
</suite>